/* sharing style  start */
body {
  font-family: "Open Sans", sans-serif;
}
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
.comon-clr {
  color: #fd6e0a;
}
.btn {
  border-radius: 5px;
  cursor: pointer;
  border: none;
  outline: none;
  background-color: #fd6e0a;
  font-size: 20px;
  padding: 13px 35px;
  color: #fff;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.btns {
  border-radius: 5px;
  cursor: pointer;
  border: 2px solid #fd6e0a;
  outline: none;
  background:none;
  
  font-size: 20px;
  padding: 13px 35px;
  color: #fd6e0a;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

/* sharing style  start */

h1 {
  color: #181818;
  font-size: 45px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}
nav ul li {
  font-weight: 400;
}
nav ul li a {
  text-decoration: none;
  color: #474747;
  font-size: 20px;
}
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 150px ;
}
nav > ul {
  display: flex;
  justify-content: center;
  align-items: center;
}
nav ul li {
  list-style: none;
  margin: 20px;
}
/* header design start  */
.header {
  background-image: url("../images/header_bg.png");
  background-repeat: no-repeat;
  background-position: bottom right;
  background-size:  600px;
  
}
.header-content {
  display: flex;
  align-items: center;
  padding: 30px 30px 0px 150px;
}
.img-content .hardy {
  margin-bottom: -5px;
  height: 480px;
}
.text-content {
  padding-right: 200px;
 
  
}
.text-content-h3{
 font-size: 35px;
 font-style: normal;
 font-weight: 600;
 line-height: normal;
}
.text-content-h1{
  font-size: 70px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.text-content-p{
  font-family: Open Sans;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  margin-bottom: 10px;
}

/* header design End
